#wrap {
	text-align: center;
}

#map {
	display: inline-block;
	width:500px;
	height:500px;
	border:2px solid #454343;
}

#graph {
	display: inline-block;
	width:500px;
	height:500px;
	border:2px solid #454343;
}

#cli {
	display: inline-block;
	width:500px;
	height:200px;
	border:2px solid #454343;
}