<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">   
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Silent Heavens</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<script src="{{ url_for('static', filename='index.js') }}"></script>
	</head>
	<body>
		<div class="container">
            <div id="row">
            	<div class="col-md-1">
            		
            	</div>
				<div class = "col-md-5" id="map">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h1 class="titles">Map</h1>
						</div>
						<div class="panel-body">
						</div>
					</div>
				</div>
				<div col="col-md-5" id="graph">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h1 class="titles">Stats</h1>
						</div>
						<div class="panel-body">
						</div>
					</div>
				</div>
				<div class="col-md-1">
					<form id="logout" action="/logout" method="POST">
						<button type="submit" class="btn btn-danger">Logout</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="panel panel-default">
								<div class="panel-body">
									{{ output }}
								</div>
							</div>
							<form id="cli" action="/cli" method="POST">
								>><input type="text" id="commands" name="commands"><input type="submit" name="submitCLI" value="Enter">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
        <footer class="footer">
      		<div class="container">
        		<div class="center">
            		<b>Made by <a href="https://github.com/torchhound">Joseph Cieslik</a>. Code available on <a href="https://github.com/torchhound/silentHeavens">Github</a></b>
        		</div>
      		</div>
    	</footer>
	</body>
</html>