<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<title>Silent Heavens</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div class="wrapper">
            <div id="wrap">
			<div id="map">
				<h1>Map</h1>
			</div>
			<div id="graph">
				<h1>Stats</h1>
			</div>
			<div id="cli">
				<form method="POST">
					>><input type="text" name="commands"><input type="submit" name="submitCLI" value="Enter">
				</form>
			</div>
		</div>
		<script>
		
		</script>
            <div class="push"></div>
        </div>
        <div class="footer">
            <b>Made by <a href="https://github.com/torchhound">Joseph Cieslik</a>. Code available on <a href="https://github.com/torchhound/silentHeavens">Github</a></b>
        </div>
	</body>
</html>