<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
		<title>Silent Heavens</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
    <body>
    <div id="wrap">
    	{% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {%- for msg in msgs %}
            <div class="flashes">
              {{ msg }}
            </div>
          {% endfor -%}
        {% endif %}
      {% endwith %}
      <div id="login">
      <h1>Login</h1>
      	{% block content %}

  {% for message in form.username.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form method="POST">
    {{ form.hidden_tag() }}
	<br>
    {{ form.username.label }}
    {{ form.username }}
    <br> 
    {{ form.password.label }}
    {{ form.password }}
    <br> 
    {{ form.login }}
	<br>
  </form>
     
{% endblock %}
      </div>
      <div id="register">
      <h1>Register</h1>
      	{% block content %}

  {% for message in form.username.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form method="POST">
    {{ form.hidden_tag() }}
	<br>
    {{ form.username.label }}
    {{ form.username }}
    <br>
    {{ form.email.label }}
    {{ form.email }}
    <br> 
    {{ form.password.label }}
    {{ form.password }}
    <br> 
    {{ form.register }}
	<br>
  </form>
     
{% endblock %}
      </div>
		
	</div>
</body>
</html>