<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
		<title>Silent Heavens</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
    <body>
    <div id="wrap">
    	{% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {%- for msg in msgs %}
            <div class="flashes">
              {{ msg }}
            </div>
          {% endfor -%}
        {% endif %}
      {% endwith %}
      <div id="login">
      <h1>Login</h1>
      	{% block login %}

  {% for message in loginForm.username.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in loginForm.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form method="POST">
    {{ loginForm.hidden_tag() }}
	<br>
    {{ loginForm.username.label }}
    {{ loginForm.username }}
    <br> 
    {{ loginForm.password.label }}
    {{ loginForm.password }}
    <br> 
    {{ loginForm.login(class="submit") }}
	<br>
  </form>
     
{% endblock %}
      </div>
      <div id="register">
      <h1>Register</h1>
      	{% block register %}

  {% for message in registerForm.username.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in registerForm.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in registerForm.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form method="POST">
    {{ registerForm.hidden_tag() }}
	<br>
    {{ registerForm.username.label }}
    {{ registerForm.username }}
    <br>
    {{ registerForm.email.label }}
    {{ registerForm.email }}
    <br> 
    {{ registerForm.password.label }}
    {{ registerForm.password }}
    <br> 
    {{ registerForm.register(class="submit") }}
	<br>
  </form>
     
{% endblock %}
      </div>
		
	</div>
</body>
</html>