<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
		<title>Silent Heavens</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
    <body>
    	{% with msgs = get_flashed_messages() %}
       		{% if msgs %}
         		{%- for msg in msgs %}
            		<div class="flashes">
              			{{ msg }}
            		</div>
          		{% endfor -%}
        	{% endif %}
		{% endwith %}
    	<div class="box">
  			<h1>Login/Register</h1>
  			<form action="/" method="post">
    			<input type="text" name="username" id="username" placeholder="Username" required/>
    			<br>
    			<input type="password" name="password" id="password" placeholder="Password" required/>
    			<br>
    			<input type="submit" class="button" value="Login"/>
    			<input type="submit" class="button" value="Register"/>
  			</form>
		</div>
  
</body>
</html>